<div class="relative z-20 mt-24 bg-white pb-20">
  <div>
    <h1 class="text-center font-poppins pb-4 mb-16 tracking-wider text-3xl font-semibold text-slate-700">NOTRE ÉQUIPE</h1>
  </div>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Itération sur les membres -->

      <div *ngFor="let membre of membres" class="flex items-center border border-gray-200 py-8 px-8 hover:shadow-lg transition-shadow duration-300">
        <img
          [src]="imgBack + membre.personneid.image"
          [alt]="membre.personneid.prenom + ' ' + membre.personneid.nom"
          class="w-20 h-20  rounded-full mr-2 object-cover mb-4"
        >
        <div class="text-center">
          <h3 class="text-xl font-semibold text-gray-900">
            {{membre.personneid.prenom}} {{membre.personneid.nom}}
          </h3>
          <p class="text-gray-600">{{membre.personneid.profil.libelle}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
