<footer id="colophon" class="site-footer font-poppins bg-base1 text-white py-10" role="contentinfo">
  <div class="container mx-auto px-4 mt-20 mb-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">

      <!-- Widget 1: Logo et texte -->
      <div class="widget text-justify ml-8">
        <div class="textwidget mb-4">
          <img src="/images/logos/TECH-logo.png" alt="Logo" class="bg-white w-56 mx-auto mb-4">
          <p class="text-base mt-16 ">
            L'équipe technique de MODELIS TECH vous accompagne dans la réalisation de vos logiciels
            d'entreprise qu'ils soient spécifiques à un métier ou pas.
          </p>
        </div>
      </div>

      <!-- Widget 2: Menu -->
      <div class="widget ml-4">
        <h3 class="text-xl font-semibold mb-4">Menu</h3>
        <div class="textwidget text-base font-light">
          <ul class="space-y-2 opacity-70">
            <li><a routerLink="/accueil" class=" hover:text-yellow-400 ">Accueil</a><hr class="mt-2"></li>
            <li><a routerLink="/apropos"  class=" hover:text-yellow-400">A propos</a><hr class="mt-2"></li>
            <li><a routerLink="/expertises"  class=" hover:text-yellow-400">Services</a><hr class="mt-2"></li>
            <li><a routerLink="/equipe"  class="hover:text-yellow-400">Equipe</a><hr class="mt-2"></li>
            <li><a routerLink="/Projets"  class=" hover:text-yellow-400">Projets</a><hr class="mt-2"></li>
            <li><a routerLink="/blog" class="hover:text-yellow-400">Blog</a><hr class="mt-2"></li>
            <li><a routerLink="/carriere" class=" hover:text-yellow-400">Carrière</a></li>
          </ul>
        </div>
      </div>

      <!-- Widget 3: Liens utiles -->
      <div class="widget">
        <h3 class="text-xl font-semibold mb-4">Liens utiles</h3>
        <div class="textwidget text-base font-light">
          <ul class="space-y-2 opacity-70">
            <li><a routerLink="/accueil" class=" hover:text-yellow-400 ">Modelis-Gc</a><hr class="mt-2"></li>
            <li><a routerLink="/apropos"  class=" hover:text-yellow-400">Modelis-Group</a><hr class="mt-2"></li>
            <li><a routerLink="/expertises"  class=" hover:text-yellow-400">Modelis-Tech</a><hr class="mt-2"></li>
            <li><a routerLink="/expertises"  class=" hover:text-yellow-400">Modelis-Gis</a></li>

          </ul>
        </div>
      </div>

      <!-- Widget 4: Publications récentes -->
      <div class="widget">
        <h3 class="text-xl font-semibold mb-4">Récentes publications</h3>
        <ul class="space-y-4">
          <li class="flex justify-between items-center">
            <div class="gem-pp-posts-text">
              <div class="gem-pp-posts-item">
                <a  class="text-lg hover:text-yellow-400" ></a>
              </div>
              <div class="gem-pp-posts-date text-sm text-gray-400" >
                <ul class="space-y-2 opacity-70"  *ngFor="let blog of blogs">
                  <li>
                    <a routerLink="/accueil" class=" hover:text-yellow-400" [innerHTML]="blog.description.slice(0, 50) + ' ... ' "> </a><hr class="mt-2">
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Footer Navigation -->
<footer id="footer-nav" class="site-footer bg-black1 text-white py-10" >
  <div class="px-8">
    <div class="flex items-center justify-between ml-5">
      <div class="footer-site-info text-xs font-thin">&copy; MODELIS TECH 2021</div>
      <div class="footer-navigation">
        <nav id="footer-navigation" class="flex space-x-4">
          <ul class="flex space-x-4">
            <li><a  class="text-sm hover:text-yellow-400"></a></li>
            <li><a class="text-sm hover:text-yellow-400"></a></li>
            <li><a class="text-sm hover:text-yellow-400"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
