<section #aboutSection id="next-section" class="w-full bg-gradient-to-r from-[#dfe2fe] via-[#b1cbfa] to-[#8e98f5] py-20">
  <div class="container mx-auto px-4 items-center">

    <!-- GRID PRINCIPALE IMAGE + TEXTE -->
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <!-- Image avec animation -->
      <div class="flex justify-center">
        <img #animatedImage [src]="imgPath" alt="Le groupe Modelis"
             class="max-w-full h-auto transform transition-all duration-700 ease-out">
      </div>

      <!-- Texte -->
      <div #textContent class="space-y-6 w-5/6 font-poppins text-center lg:text-left">
        <h2 class="text-5xl font-black uppercase text-gray-800 mb-4">
          Satisfaction cliente au cœur
        </h2>
        <h1 class="text-4xl font-semibold text-gray-800">
          de notre démarche
        </h1>
        <p class="text-lg text-gray-700 leading-relaxed">
          MODELIS GROUP, dont le siège est à Abidjan, est également présent en France, au Sénégal, au Mali. En Côte d'Ivoire, chaque secteur d'activité du groupe est représenté par une entreprise spécifique :
        </p>
        <ul class="text-lg text-gray-700 leading-relaxed list-disc pl-6 mt-4">
          <li>MODELIS GIS : intervient dans la vente, la réparation et la location d'appareil de topographie, d'informatique et de génie civil.</li>
          <li>MODELIS GC : intervient dans les études et travaux dans le domaine du génie civil. L'aspect est plus mis sur la construction des postes électriques, le coffrage des lignes.</li>
          <li>MODELIS TECH : intervient dans l’informatique en général et les systèmes d’information géographique en particulier.</li>
        </ul>
      </div>
    </div>

    <div class="mt-6 flex flex-wrap justify-center gap-6">
      <!-- Mission -->
      <div class="glass-card">
        <h3 class="card-title">Mission</h3>
        <div class="divider"></div>
        <ul class="card-content">
          <li>Démocratiser l'accès</li>
          <li>à l'information</li>
          <li>géographique</li>
        </ul>
      </div>

      <!-- Vision -->
      <div class="glass-card">
        <h3 class="card-title">Vision</h3>
        <div class="divider"></div>
        <ul class="card-content">
          <li>Révolutionner la</li>
          <li>Compréhension du monde</li>
          <li>grâce à la Géomatique</li>
        </ul>
      </div>

      <!-- Valeurs -->
      <div class="glass-card">
        <h3 class="card-title">Valeurs</h3>
        <div class="divider"></div>
        <ul class="card-content">
          <li>Expertise, Respect</li>
          <li>Objectivité, pragmatisme</li>
          <li>Intégrité</li>
        </ul>
      </div>
    </div>

    <!-- Texte Domains piliers -->
    <div class="max-w-3xl mx-auto font-poppins text-center mt-24">
      <div id="domainesPiliers" class="opacity-0 scale-50">
        <h2 class="text-6xl font-black uppercase text-gray-800 mb-4">
          Créé et développé autour
        </h2>
        <h1 class="text-4xl font-semibold text-base1">
          de 3 Domaines piliers
        </h1>
      </div>
      <div>
        <p class="text-lg text-gray-700 mt-14 leading-relaxed">
          Notre motivation et celle de nos équipes au quotidien : offrir la plus grande valeur ajoutée à nos clients.
        </p>
      </div>
    </div>

    <!-- Pilier cards affichées horizontalement -->
    <div class="flex flex-wrap justify-center mb-44 gap-6 mt-10">
      <div class="flip-card relative w-full max-w-sm"
        (mouseenter)="flip($event)"
        (mouseleave)="unflip($event)">
        <div class="flip-inner">
          <!-- Face avant : l'image -->
          <div class="flip-front">
            <img [src]="imgCard1" alt="Image shadow-[43px_23px_207px_34px_rgba(165,_39,_255,_0.48)]">
            <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-40  rounded-lg">
              <h2 class="text-white text-xl font-bold">TOPOGRAPHIE</h2>
              <div class="w-16 h-1 bg-white my-2"></div>
              <p class="text-white text-sm"></p>
            </div>
          </div>
          <!-- Face arrière -->
          <div class="flip-back">
            <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-40 backdrop-blur-[2px] rounded-lg">
              <h2 class="text-white text-xl font-bold">Collecte de données</h2>
              <div class="w-16 h-1 bg-white my-2"></div>
              <p class="text-white mx-6 mt-5 text-base font-roboto font-light"> Notre objectif principal est de recueillir, analyser et modéliser des informations précises sur les caractéristiques physiques d'un terrain. <br>
                Nous utilisons des outils GPS haute précision, des drones équipés de LiDAR ou de capteurs photogrammétriques,
                croisons ces données avec des images satellites, des cartes existantes ou des bases de données publiques pour enrichir nos analyses.
                Nous fournissons des cartes numériques, des modèles numériques de terrain (MNT), des rapports d'analyse et des visualisations interactives. Nous transformons le terrain réel en données exploitables pour construire, protéger ou optimiser l'espace, en alliant technologie de pointe et expertise métier. 🌍📐✈️</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="flip-card relative w-full max-w-sm"
           (mouseenter)="flip($event)"
           (mouseleave)="unflip($event)">
        <div class="flip-inner">
          <!-- Face avant -->
          <div class="flip-front">
            <img [src]="imgCard2" alt="Image 1"
                 class="w-full rounded-lg shadow-[43px_23px_207px_34px_rgba(165,_39,_255,_0.48)]">
            <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-40 rounded-lg">
              <h2 class="text-white text-xl font-bold">GÉNIE CIVIL</h2>
              <div class="w-16 h-1 bg-white my-2"></div>
              <p class="text-white text-sm"></p>
            </div>
          </div>
          <!-- Face arrière -->
          <div class="flip-back">
            <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-40 backdrop-blur-[2px] rounded-lg">
              <h2 class="text-white text-xl uppercase font-bold">Génie civil</h2>
              <div class="w-16 h-1 bg-white my-2"></div>
              <p class="text-white mx-6 mt-5 text-base font-roboto font-light">Notre entreprise est spécialisée dans la réalisation de postes électriques, des infrastructures critiques qui permettent de transformer, distribuer et réguler l'énergie électrique (depuis les hautes tensions jusqu'aux réseaux urbains) 
                Nous transformons des terrains vides en postes électriques intelligents, sûrs et durables, en combinant expertise technique, innovation et respect des normes. Chaque projet est un maillon essentiel pour alimenter des villes, des usines… et même votre maison ! </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="flip-card relative w-full max-w-sm"
           (mouseenter)="flip($event)"
           (mouseleave)="unflip($event)">
        <div class="flip-inner">
          <!-- Face avant -->
          <div class="flip-front">
            <img [src]="imgCard3" alt="Image 3"
                 class="w-full rounded-lg shadow-[43px_23px_207px_34px_rgba(165,_39,_255,_0.48)]">
            <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-30 rounded-lg">
              <h2 class="text-white uppercase text-xl font-bold">Géomatique</h2>
              <div class="w-16 h-1 bg-white my-2"></div>
              <p class="text-white text-base"></p>
            </div>
          </div>

          <!-- Face arrière -->
          <div class="flip-back">
            <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-30 backdrop-blur-[2px] rounded-lg">
              <h2 class="text-white text-xl uppercase font-bold">Géomatique</h2>
              <div class="w-16 h-1 bg-white my-2"></div>
              <p class="text-white text-base mx-6 mt-5 font-roboto font-light">Notre entreprise est spécialisée dans la conception de solutions technologiques informatiques centrées sur les Systèmes d'Information Géographique (SIG), avec pour objectif d'aider les organisations à visualiser, analyser et optimiser leurs données spatiales.
                Nous transformons des données géolocalisées (cartes, images satellites, capteurs IoT, etc.) en outils décisionnels intelligents pour plusieurs secteurs. 
                Nous combinons expertise géomatique et innovation technologique pour transformer des données brutes en leviers d'action intelligents.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mx-12 -mt-20 text-lg font-poppins ">
      <h1> MODELIS GROUP s'est créé et se développe autour d'une unique motivation : répondre aux besoins de nos clients. C'est pourquoi, il s'est adapté au fil des années en spécialisant ses équipes autour des trois domaines prioritaires : la topographie, la géomatique et le génie civil.
        Partout où le groupe Modelis ira, le client sera toujours au cœur de notre attention. C'est notre motivation et celle de nos équipes au quotidien.</h1></div>

  </div>
</section>

