<div id="site-header-wrapper">
      <div class="flex justify-between h-24 bg-slate-50">
            <div class="">
              <a href="/" rel="home">
                                 
                    <img
                    src="/images/logos/TECH-logo.png"
                    class="w-48 h- h-20 mt-1 ml-14 "
                    alt="Modelis Tech Logo"
                  />
                
              </a>
            </div>
          <!-- Navigation -->
          <nav id="navigation" class="uppercase font-semibold text-3xl text-black font-poppins" role="navigation">

            <div class="mobile-menu-slide-wrapper left">
              <button class="mobile-menu-slide-close"></button>
              <ul
                id=""
                class="nav-menu list-none flex flex-col mr-20 sm:flex-row space-y-2 sm:space-y-0 sm:space-x-8 styled no-responsive text-lg"
              >
                <li>
                  <a href="/" routerLink="/accueil" class="hover:text-base1">Accueil</a>
                </li>
                <li>
                  <a href="/" routerLink="/apropos" class="hover:text-base1">À propos</a>
                </li>
                <li>
                  <a href="/" routerLink="/expertises" class="hover:text-base1">Services</a>
                </li>
                <li>
                  <a href="/" routerLink="/equipe" class="hover:text-base1">Équipe</a>
                </li>
                <li>
                  <a href="/" routerLink="/projets" class="hover:text-base1">Projets</a>
                </li>
                <li>
                  <a href="/" routerLink="/blog" class="hover:text-base1">Blog</a>
                </li>
                <li>
                  <a href="/" routerLink="/carriere" class="hover:text-base1">Carrière</a>
                </li>
                <li>
                  <a href="/" routerLink="/contact" class="hover:text-base1">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      
  </div>
  