<section class="w-full relative">
  <swiper-container
    class="default-carousel "
    [attr.slides-per-view]="1"
    [attr.space-between]="10"
    [attr.pagination]="false"
    [attr.navigation]="false"
    [attr.autoplay]="true"
    [attr.autoplay-delay]="3000"
    [attr.autoplay-disable-on-interaction]="false"
  >
  
  <swiper-slide>
    <div class="relative animate-[wiggle_1s_ease-in-out_infinite] h-[36rem] flex items-center justify-center">
      <img 
        src="/images/page-bg/bg-typeclient.jpg" 
        alt="Bienvenue Image" 
        class="absolute inset-0 w-full h-full object-cover brightness-50"
      />
      <div class="relative z-10 p-6 text-center">
        <p class="text-white text-4xl mb-8 font-bold">
          BIENVENUE SUR LE SITE INTERNET DE MODELIS-TECH
        </p>
        <p class="text-white text-2xl font-normal">
          Une entreprise résolument orientée vers la recherche et la
          résolution de <br> solutions par l'innovation.
        </p>
      </div>
      <div class="flex justify-center gap-8 absolute bottom-16 w-full">
        <button class="relative hover:bg-black flex ">
          <div class="absolute inset-0 bg-base1 h-12 hover:bg-black w-auto shadow-xl"></div>
          <p class="relative text-white font-bold px-8 pt-3">Qui sommes-nous ?</p>
        </button>
        <button class="relative flex">
          <div class="absolute inset-0 border-2 hover:bg-black border-white h-12 w-auto"></div>
          <p class="relative text-white font-light px-8 pt-3">Nous contacter</p>
        </button>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="brightness-60 relative h-[36rem] flex items-center justify-center">
      <img 
        src="/images/page-bg/a2.png" 
        alt="Bienvenue Image" 
        class="absolute inset-0 w-full h-full"
      />
      <div class="relative z-10 p-6 text-center">
        <p class="text-white text-4xl mb-8 font-bold">
          HEBERGEMENTS DE LOGICIELS
        </p>
        <p class="text-white text-2xl font-normal">
          Notre infrastructure est à 100% virtualisée et sécurisée. Cela nous permet d'ajuster <br> le matériel à la
          demande de ressources.
        </p>
      </div>
      <div class="flex justify-center absolute bottom-16 w-full">
        <button class="relative flex">
          <div class="absolute inset-0 hover:bg-black bg-base1 h-12 w-48 p-6 shadow-xl"></div>
          <p class="relative text-white font-bold ml-10 pt-3">Notre Expertise</p>
        </button>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="brightness-60 relative h-[36rem] flex items-center justify-center">
      <img 
        src="/images/page-bg/a3.png" 
        alt="Bienvenue Image" 
        class="absolute inset-0 w-full h-full"
      />

      <div class="absolute inset-0 bg-black opacity-50"></div>

      <div class="relative z-10 p-6 text-center">
        <p class="text-white text-4xl mb-8 font-bold">
          DEVELOPPEMENT DE LOGICIELS
        </p>
        <p class="text-white text-2xl font-normal">
          L'équipe technique de MODELIS TECH
                vous accompagne dans la réalisation <br>
                de vos logiciels d'entreprise qu'ils soient
                spécifiques à un métier ou pas.
        </p>
      </div>
      <div class="flex justify-center absolute bottom-16 w-full">
        <button class="relative flex">
          <div class="absolute inset-0 hover:bg-black bg-base1 h-12 w-auto p-6 shadow-xl"></div>
          <p class="relative text-white font-bold mx-8 pt-3">Projets</p>
        </button>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="relative h-[36rem] flex items-center justify-center">
      <img 
        src="/images/page-bg/a4.jpg" 
        alt="Bienvenue Image" 
        class="absolute inset-0 w-full h-full object-cover"
      />
      
      <div class="absolute inset-0 bg-black opacity-50"></div>
      
      <div class="relative z-10 p-6 text-center">
        <p class="text-white text-4xl mb-8 font-bold">
          SYSTÈME D'INFORMATION GÉOGRAPHIQUE (SIG)
        </p>
        <p class="text-white text-2xl font-normal">
          MODELIS TECH dispose de l'expertise nécessaire pour réaliser vos SIG. <br>  
          Cela comprend la collecte de données, le traitement et la diffusion.
        </p>
      </div>
      
      <div class="flex justify-center absolute bottom-16 w-full">
        <button class="relative flex items-center hover:bg-black justify-center p-6 h-12 w-auto bg-base1 shadow-xl">
          <p class="text-white mx-8 p-3 font-bold">Notre expertise</p>
        </button>
      </div>
    </div>
  </swiper-slide>
  
  <swiper-slide>
    <div class=" relative h-[36rem] flex items-center justify-center">
      <img 
        src="/images/page-bg/a5.jpg" 
        alt="Bienvenue Image" 
        class="absolute inset-0 w-full h-full"
      />

      <div class="absolute inset-0 bg-black opacity-50"></div>

      <div class="relative z-10 p-6 text-center">
        <p class="text-white text-4xl mb-8 font-bold">
          FORMATION
        </p>
        <p class="text-white text-2xl font-normal">
          Explorez le monde des SIG et du Développement informatique avec nos différentes formations.
        </p>
      </div>
      <div class="flex justify-center absolute bottom-16 w-full">
        <button class="relative flex">
          <div class="absolute inset-0 hover:bg-black bg-base1 h-12 w-auto p-6 shadow-xl"></div>
          <p class="relative text-white font-bold mx-8 pt-3">Quelques uns de nos projets</p>
        </button>
      </div>
    </div>
  </swiper-slide>

  


  </swiper-container>

  <div class="flex items-center gap-8 lg:justify-start justify-center absolute top-1/2 w-full">
    <button id="prevButton" class="swiper-button-prev group !p-2 flex justify-center items-center !w-10 !h-10 bg-black bg-opacity-30 transition-all duration-500   !top-2/4 !-translate-y-8 !left-5 hover:bg-black">
      <svg class="h-4 w-4 text-white group-hover:text-white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M10.0002 11.9999L6 7.99971L10.0025 3.99719" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <button id="nextButton" #nextButton class="swiper-button-next group !p-2 flex justify-center items-center !w-12 !h-12 !w-10 !h-10 bg-black bg-opacity-30 transition-all duration-500 !top-2/4 !-translate-y-8 !right-5 hover:bg-black">
      <svg class="h-4 w-4 text-white group-hover:text-white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M5.99984 4.00012L10 8.00029L5.99748 12.0028" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</section>